/***********/
/* GÉNÉRAL */
/***********/
body
{ background: url("../images/bg.jpg") no-repeat fixed 52.5% center; }



/***************/
/* FORMULAIRES */
/***************/
.horizAlignCenter
{
    display: flex;
    justify-content: center;
}
.alignItems
{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}
hr.style12 {
    height: 6px;
    background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}



/**************/
/*    MENU    */
/**************/
ul
{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
}
li
{
    display: inline-flex;
    justify-content: center;
    margin-right: 1px;
}
li a
{
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}
li:hover a
{ background: #413c47; }
li a:hover
{ color: #FFFFFF; }
li a:active
{ color: coral; }
li ul li a
{
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}



/*******************/
/* PAYMENT/CONFIRM */
/*******************/
h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
h1 { font-size: 36px; }
h2 { font-size: 21px; margin-bottom: 1em; }
p { margin: 0 0 1em 0; }
a { color: #0000F0; }
a:hover { text-decoration: none; }
code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
#wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
#container { padding: 2em; }
#welcome, #status { margin-bottom: 2em; }
#welcome h1 span { display: block; font-size: 75%; }
#icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
#icon-book { display: none; }

@media (min-width: 768px)
{
    #wrapper { width: 80%; margin: 2em auto; }
    #icon-book { display: inline-block; }
    #status a, #next a { display: block; }

    @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
    @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
    .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
}