/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/workspace.xml
.idea/workspace.xml
src/AppBundle/Entity/Command.php~
src/AppBundle/Entity/Ticket.php~
src/AppBundle/Entity/Command.php~
*.php~
*.php~
.idea/workspace.xml___jb_tmp___
web/code-coverage/.css/bootstrap.min.css
web/code-coverage/.css/custom.css
web/code-coverage/.css/nv.d3.min.css
web/code-coverage/.css/style.css
web/code-coverage/.fonts/glyphicons-halflings-regular.eot
web/code-coverage/.fonts/glyphicons-halflings-regular.svg
web/code-coverage/.fonts/glyphicons-halflings-regular.ttf
web/code-coverage/.fonts/glyphicons-halflings-regular.woff
web/code-coverage/.fonts/glyphicons-halflings-regular.woff2
web/code-coverage/.js/bootstrap.min.js
web/code-coverage/.js/d3.min.js
web/code-coverage/.js/file.js
web/code-coverage/.js/holder.min.js
web/code-coverage/.js/html5shiv.min.js
web/code-coverage/.js/jquery.min.js
web/code-coverage/.js/nv.d3.min.js
web/code-coverage/.js/respond.min.js
web/code-coverage/AppBundle.php.html
web/code-coverage/Controller/CommandController.php.html
web/code-coverage/Controller/ContactController.php.html
web/code-coverage/Controller/dashboard.html
web/code-coverage/Controller/HomeController.php.html
web/code-coverage/Controller/index.html
web/code-coverage/dashboard.html
web/code-coverage/Entity/Command.php.html
web/code-coverage/Entity/dashboard.html
web/code-coverage/Entity/index.html
web/code-coverage/Entity/Ticket.php.html
web/code-coverage/EventSubscriber/CommandNotFoundSubscriber.php.html
web/code-coverage/EventSubscriber/dashboard.html
web/code-coverage/EventSubscriber/index.html
web/code-coverage/Exception/CommandNotFoundException.php.html
web/code-coverage/Exception/dashboard.html
web/code-coverage/Exception/index.html
web/code-coverage/Form/CommandType.php.html
web/code-coverage/Form/ContactType.php.html
web/code-coverage/Form/dashboard.html
web/code-coverage/Form/Handler/CommandTypeHandler.php.html
web/code-coverage/Form/Handler/ContactTypeHandler.php.html
web/code-coverage/Form/Handler/dashboard.html
web/code-coverage/Form/Handler/index.html
web/code-coverage/Form/Handler/TicketFormCollectionTypeHandler.php.html
web/code-coverage/Form/index.html
web/code-coverage/Form/TicketFormCollectionType.php.html
web/code-coverage/Form/TicketType.php.html
web/code-coverage/index.html
web/code-coverage/Manager/CommandManager.php.html
web/code-coverage/Manager/dashboard.html
web/code-coverage/Manager/index.html
web/code-coverage/Repository/CommandRepository.php.html
web/code-coverage/Repository/dashboard.html
web/code-coverage/Repository/index.html
web/code-coverage/Repository/TicketRepository.php.html
web/code-coverage/Service/dashboard.html
web/code-coverage/Service/index.html
web/code-coverage/Service/Mailer.php.html
web/code-coverage/Service/Pay.php.html
web/code-coverage/Validator/Constraints/dashboard.html
web/code-coverage/Validator/Constraints/index.html
web/code-coverage/Validator/Constraints/NotPublicHoliday.php.html
web/code-coverage/Validator/Constraints/NotPublicHolidayValidator.php.html
web/code-coverage/Validator/Constraints/NotSunday.php.html
web/code-coverage/Validator/Constraints/NotSundayValidator.php.html
web/code-coverage/Validator/Constraints/NotTuesday.php.html
web/code-coverage/Validator/Constraints/NotTuesdayValidator.php.html
web/code-coverage/Validator/Constraints/OneThousandTicketsMax.php.html
web/code-coverage/Validator/Constraints/OneThousandTicketsMaxValidator.php.html
web/code-coverage/Validator/Constraints/PassedTwoPm.php.html
web/code-coverage/Validator/Constraints/PassedTwoPmValidator.php.html
web/code-coverage/Validator/dashboard.html
web/code-coverage/Validator/index.html
