{# app/Resources/views/form.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h3>Formulaire de réservation</h3>

    <div class="well">
        {{ form(commandForm) }}
        <input type="submit" value="Valider" class="btn btn-default" />
    </div>

{% endblock %}