{# app/Resources/views/command.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <br/>
    <h1 class="text-center">Réservation de billets</h1>
    <br/>

    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="well">
                {{ form_start(commandForm) }}
                {{ form_row(commandForm) }}
                <input type="submit" value="Valider" class="btn btn-default" />
                {{ form_end(commandForm) }}
            </div>
        </div>
    </div>

{% endblock %}