{# app/Resources/views/contact.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <br/>
    <div>
        <h1 class="text-center">Contact</h1>
        <h4 class="text-center">Un problème ? Une info ? Contactez-nous grâce au formulaire.</h4>
    </div>
    <br/>

{% endblock %}