{# app/Resources/views/home.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <br/>
    <br/>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="customWell">
                <h1 class="text-center">Musée du Louvre</h1>
                <h4 class="text-center">Nous vous souhaitons la bienvenue.</h4>
            </div>
        </div>
    </div>
    <br/>

{% endblock %}