{# app/Resources/views/home.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <br/>
    <br/>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="customWell">
                <h1 class="text-center">Musée du Louvre</h1>
                <h4 class="text-center">Nous vous souhaitons la bienvenue.</h4>
            </div>
        </div>
    </div>

    {% for message in app.session.flashbag.get('error') %}
        {% if message is defined %}
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="well">
                        <p class="text-center">{{ message }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <br/>
    <br/>

    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="well">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 col-xs-12">
                        <p class="text-center">
                            La billetterie du musée vous permet d'acheter vos tickets en ligne afin de vous faire gagner
                            du temps et de vous garantir l'accès aux salles.
                        </p>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="marginTop0"><strong>Horaires d'ouverture du musée :</strong></h4>
                        <p class="text-left">
                            - Lundi : 9h - 18h <br/>
                            - Mardi : Fermé <br/>
                            - Mercredi : 9h - 18h <br/>
                            - Jeudi : 9h - 18h <br/>
                            - Vendredi : 9h - 18h <br/>
                            - Samedi : 9h - 18h <br/>
                            - Dimanche : 9h - 18h <br/>
                            <br/>
                            Le musée sera fermé les 1er mai,<br/>1er novembre et 25 décembre.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h4 class="marginTop0"><strong>Tarifs des billets d'entrée :</strong></h4>
                        <p class="text-left">
                            - Plein (à partir de 12 ans): 16€ <br/>
                            - Enfant (à partir de 4 ans et jusqu'à 12 ans): 8€ <br/>
                            - Gratuit pour les moins de 4 ans. <br/>
                            - Senior (à partir de 60 ans): 12€ <br/>
                            - Réduit (étudiants, militaires, employé du musée, ministère de la culture, invalides): 10€ <br/>
                        </p>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="centerMenu">
                            <a href="{{ path('command') }}" class="myButton">Réserver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}