{# app/Resources/views/home.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <br/>
    <div>
        <h2 class="text-center">Musée du Louvre</h2>
        <h3 class="text-center">Billeterie</h3>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <p class="text-center">
                Le musée du Louvre vous souhaite la bienvenue sur sa billeterie en ligne.
            </p>
        </div>
    </div>

{% endblock %}