{# app/Resources/views/payment.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <br/>
    <br/>
    <div id="wrapper">
        <div id="container">

            <div id="welcome">
                <h1>Paiement de votre commande:</h1>
            </div>

            <div id="status">
                <p>
                    <svg id="icon-status" width="1792" height="1792" viewBox="0 0 1792 1792"
                         xmlns="<a href="
                            <a href="URL_3WORG/2000/svg">
                            <a href="<a href=" URL_3WORG/2000/svg">URL_3WORG/2000/svg</a>">
                            <a href="URL_3WORG/2000/svg">URL_3WORG.org/2000/svg</a></a></a>">
                            <a href="URL_3WORG/2000/svg"><a href="URL_3WORG/2000/svg">
                            <a href="URL_3WORG/2000/svg">URL_3WORG/2000/svg</a></a></a></a>">
                            <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z"
                                fill="#759E1A"></path>
                    </svg>

                    Votre montant total est de {{ command.totalPrice }}€.
                    <form action="" method="POST">
                        <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-label="Payer la commande"
                                data-key="{{ stripe_public_key }}"
                                data-amount="{{ command.totalPrice * 100 }}"
                                data-name="Paiement Stripe"
                                data-description="commande de billet(s)"
                                data-locale="auto"
                                data-currency="eur"
                                data-email="{{ command.visitorEmail }}">
                        </script>
                    </form>
                </p>
            </div>
        </div>
    </div>
{% endblock %}