{# app/Resources/views/tickets.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h3>Complétion des tickets</h3>

    <div class="well">
        {{ form(ticketFormCollection) }}
        <input type="submit" value="Valider" class="btn btn-default" />
    </div>

{% endblock %}